.app-header {
  background-color: var(--bg-color-secondary);
  grid-area: header;
  position: relative;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-areas: "logo nav";
}

.app-header nav {
  grid-area: nav;
  display: flex;
  flex-direction: row-reverse;
  /* align-content: center; */
  /* justify-content: space-between; */
  /* width: 10%; */
}
