.home-page {
  width: 100%;
  height: calc(100vh - 100px);
  display: grid;
  grid-template-rows: calc(100vw / 4) 1fr 50px;
  grid-template-areas:
    "image"
    "body"
    "footer";
}

.home-header {
  grid-area: image;
  width: 100%;
  height: 100%;
}

img.splash-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-description {
  grid-area: body;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: ". descriptions ."
}

.description-points {
  grid-area: descriptions;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px;
  list-style: none;
  gap: 30px;
}

.description-point {
  width: calc(100vw / 4);
  max-width: 300px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}

.description-point-title {
  color: black;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}