.app-logo {
  position: absolute;
  top: -40px;
  left: 10px;
  /* grid-area: logo; */
  align-self: start;
  /* margin: 10px; */
  font-size: 50px;
  color: var(--highlight);
  font-weight: bold;
  text-shadow: -0.5px -0.5px 0px white, 3px 2px 3px rgba(0,0,0,0.2);
  /* text-shadow: -0.5px -0.5px 0px rgb(255,255,255), 3px 2px 3px rgb(32,32,32), 0px 0px 20px rgb(0,0,0); */
}