.app-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px auto 50px;
  grid-template-areas:
    "header"
    "body"
    "footer"
}
.app-header {
  background-color: grey;
  grid-area: header;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}

.app-header nav {
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 10%;
}


.app-body { 
  height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "drawer-left content drawer-right"
}

.app-footer {
  background-color: grey;
  grid-area: footer;
}

.drawer-left, .drawer-right {
  background-color: lightgray;
}
.drawer-left {
  grid-area: drawer-left;
}

.drawer-right {
  grid-area: drawer-right;
}

.content-container {
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "header" 
    "body";
}

.content-header {
  grid-area: header;
  background-color: lightgray;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-areas: 'doughnut recipe-header'
}

.content-body {
  grid-area: body;
  background-color: white;
  overflow: hidden;
}

.recipe-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.recipe-graph-doughnut-container {
  grid-area: doughnut;
  height: 300px;
  width: 300px;
}

.recipe-header {
  grid-area: recipe-header;
  grid-template-rows: 50px 1fr 1fr 50px;
  grid-template-areas: 
    "buffer"
    "title"
    "credit"
    "buffer";
}

.recipe-title {
  grid-area: title;
  font-size: 20px;    
}

.recipe-form footer {
  position: relative;
  height: 50px;
}

/* .recipe-step-card { */
.step-name-container {
  width: 100%;
  height: auto;
  min-height: 100px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-auto-rows: 30px auto 30px 30px;
  grid-template-areas: 
  "step-name ratio-bar"
  "ingredients ingredients"
  "empty yield"
  "empty edit-buttons";
}

.step-properties {
  display: grid;
  grid-template-columns: 1fr 29px;
  grid-template-areas: "step-name color-swatch";
  gap: .5rem;
}

.step-yield-container {
  grid-area: yield
}

.step-edit-buttons {
  grid-area: edit-buttons;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-areas: "empty save delete";
}

.step-submit { grid-area: save }
.step-delete { grid-area: delete }

.step-color {
  grid-area: color-swatch;
}

.step-name {
  grid-area: step-name;
  width: 100%;
  height: auto;
  line-height: 30px;
}

.step-ratio-bar {
  grid-area: ratio-bar;
  background-color: #c0c0c0;
  display: flex;
  flex-wrap: nowrap;
  padding: 2px;
}

.step-ratio-element {
  border-radius: 5px;
  margin: 2px;
}

.step-ratio-element:hover {
  box-shadow: -5px -5px 10px rgba(0, 0, 0, .1), 5px 5px 10px rgba(0, 0, 0, .1)
}

.button {
  background-color: #b31422;
  border-radius: 40px;
  min-height: 40px;
  min-width: 40px;
  color: white;
  font-weight: bold;
  font-size: 25px;;
}

.step-add-button {
  position: absolute;
  right: 10px;
  top: 10px;
}



.recipe-ingredients {
  grid-area: ingredients;
  background-color: #c0c0c0;
}

.ingredient-card {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-auto-rows: 1fr;
  grid-template-areas: "ratio ingredient"
}

.ingredient-ratio-container {
  grid-area: ratio;
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
}

.ingredient-ratio {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: 2px;
  height: 25px;
}


.ingredient-properties {
  grid-area: ingredient;
  background-color: #a7a7a7;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 3fr .5fr .5fr;
  grid-template-areas: "ingredient quantity unit action submit delete";
  gap: .5rem;
}

.ingredient-color-swatch, 
.step-color-swatch  {
  height: 25px;
  width: 25px;
  margin: 2px;
  border-radius: 5px;
  position: relative;
}

.ingredient-color-picker, 
.step-color-picker {
  position: absolute;
  top: 13px;
  left: -5px;
  z-index: 4;
}

.ingredient-name, .ingredient-quantity, 
.ingredient-unit, .ingredient-instruction {
  line-height: 30px;
}

.ingredient-name { 
  grid-area: ingredient;
}

.ingredient-quantity { 
  grid-area: quantity;
  text-align: right;
}
.ingredient-unit { 
  grid-area: unit;
  text-align: left;
}
.ingredient-instruction { 
  grid-area: action;
  text-align: left;
}

input {
  background-color: rgba(0, 0, 0, 0);
  /* border: none; */
  border-top: none;
  border-right: none;
  border-bottom: solid rgba(0, 0, 0, .1);
  border-left: none;
  font-size: 16px;
}

input.ingredient-name , input.ingredient-quantity,
input.ingredient-unit, input.ingredient-instruction {
  width: 100%;
}

.ingredient-submit,
.ingredient-delete {
  border: none;
  background-color: grey;
  border-radius: 5px;
}
.ingredient-submit { grid-area: submit; }

.ingredient-delete { grid-area: delete; }

.avatar {
  position: relative;
  height: 70px;
  widht: 70px;
}

.avatar-name {
  position: absolute;
  top: 20px;
  left: 15px;
  text-color: black;
  z-index: 4;
}

.avatar-image {
  position: absolute;
  top: 0;
  left: 0;
  background-color: grey;
  border-radius: 100px;
  height: 60px;
  width: 60px;
}